# Crash dumps
*.mdmp
*.dmp

# Visual Studio user settings
*.user

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.cachefile
*.SPFileList
*.map
*.ilk
*.bsc
*.VC.db
*.VC.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal

# Visual Studio 2019
.vs/

# Visual C++ debug database
*.pdb

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Ignore generated source files
AutoGen/
logs/
.moc/
**/doc/html

bin/
x86/
x64/

.vscode
*.dsn
libs/regfile/Release/regfile.Build.CppClean.log
libs/regfile/Release/regfile.lib.recipe
libs/regfile/Release/regfile.log
libs/regfile/Release/regfile.obj
libs/regfile/Release/regfile.tlog/CL.command.1.tlog
libs/regfile/Release/regfile.tlog/CL.read.1.tlog
libs/regfile/Release/regfile.tlog/CL.write.1.tlog
libs/regfile/Release/regfile.tlog/Lib-link.read.1.tlog
libs/regfile/Release/regfile.tlog/Lib-link.write.1.tlog
libs/regfile/Release/regfile.tlog/Lib.command.1.tlog
libs/regfile/Release/regfile.tlog/regfile.lastbuildstate
libs/regfile/Release/regfile.vcxproj.FileListAbsolute.txt
build/vs2019/Release/regfile.lib
