# Crash dumps
*.mdmp
*.dmp

# Visual Studio user settings
*.user

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.cachefile
*.SPFileList
*.map
*.ilk
*.bsc
*.VC.db
*.VC.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal

# Visual Studio 2019
.vs/

# Visual C++ debug database
*.pdb

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Ignore generated source files
AutoGen/
logs/
.moc/

# Assets installed by external means
/Utilities/pig/PigLibTest/
/Utilities/bin/
/bin/*/


# Except the folders below
!/bin/beaconizer/
!/bin/qt_plugins/
!/bin/textclientdebug/

# Build artefacts
/3rdparty/zeromq2-1/src/platform.hpp
/Utilities/bin/StructParser.exe
/bin/libzmq.dll
/3rdparty/bin/
/bin/*.dll
/bin/*.exe
obj/

Win32/
x64/


/start-ourodev.bat

# VS Code configuration directory
.vscode
*.dsn
/bin/cohphysx.7z
/bin/GlobalAuthError.txt
